spring:
  # dzięki temu Spring wczyta .env (Boot 2.4+)
  config:
    import: optional:file:.env[.properties]

  jpa:
    hibernate:
      ddl-auto: validate   # w bazowym zostawmy validate
    show-sql: true
    # Tę linię usuń – Hibernate sam dobierze dialekt dla Postgresa:
    # database-platform: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            issuer-uri: https://accounts.google.com

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    com.joinmatch: DEBUG

jwt:
  secret: ${SECRET_KEY}
